.saved-configs {
  display: flex;
  justify-content: center;
}

.saved-config-btn {
  color: black;
  margin: 10px;
  cursor: pointer;
}

.saved-config-del-btn {
  cursor: pointer;
  margin: 3px;
  background: transparent;
  border: none;
  color: red;
  font-size: 1.1em;
  padding: 2px;
  display: inline;
}

#configButtons {
  display: flex;
  justify-content: center;
}

#configDropdown{
  text-align: left;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 50%;
}

.header{
  button{
    font-size: 18px;
    background-color: transparent;
    border: none;
  }
}

#rulecontainer{
  transition: all 0s !important;
}

.webpackRule{
  margin-left: 2vw;

  button{
    font-size: 16px;
    &:hover{
      color: $ming;
      outline: none;
    }
    &:active{
      color: $ming !important;
      outline: none;
    }
  }
}