#webpackcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 64px;
}

#webpackcode{

    background-color: $jet;
    overflow-y: scroll;
    border-radius: 8px;
    width: 100%;
    // box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);

    code{
        left: 0;
        width: 100%;
        height: 100%;
        color: white !important;
        letter-spacing: 1px;
    }

    pre {
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }
}

.tab{
    margin-left: 32px;
}