@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'palette';
@import 'fonts';
@import 'title';
@import 'login';
@import 'config';
@import 'navbar';
@import 'instructions';

// setting variables for reference
$background: white;

body {
  background: $background;
  background-size: cover;
}

// setting defaults for page
* {
  box-sizing: border-box;
  font-family: $font1;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $jet;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width:100%;
}

#content {
  width:800px;
  max-width: 100%;
}

.Container {
  padding: 1em;
}

.Container h2 {
  text-align: center;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, auto));
  grid-auto-rows: 2.5em;
  grid-gap: 2em;
}

.Text {
  margin: 5px;
  font-size: clamp(1rem, 0.9vw, 20px);
  mix-blend-mode: luminosity;
}

#row {
  color: $jet;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

//applies to rule and env
h2, h3 {
  color: $jet;
  text-align: center;
}

.Item {
  color: $jet;
  cursor: pointer;
  opacity: 30%;
  background-color: $black2;
  border: medium solid $white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
}

#import-input {
  display: none;
}

hr {
  width: 32%;
  text-align: center;
  margin: 1px;
  padding: 1px;
  margin-top: 20px;
  border-radius: 3px;
  margin: auto;
  background-color: $white;
}

.longBtn {
  margin: 5px;
}
